@font-face {
  font-family: "DidotPro";
  src:
    url("webfont-type/font.woff2") format("woff2"),
    url("webfont-type/font.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
body{
    margin: 0;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profilkep-image img{
    width: 500px;
    height: 500px;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}
.profilkep-image{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: -70px;
     padding-bottom: 80px;
     margin-left: -40px;

}
.barna-hatter{
     position: absolute;
     height: 550px !important;
     width: 100%;
     margin-top: 270px;
     z-index: -1;
     background: radial-gradient(
          140% 90% at 80% 30%,
          rgba(255,255,255,0.18),
          rgba(255,255,255,0.06) 40%,
          rgba(255,255,255,0.0) 70%
     ),
     linear-gradient(
          180deg,
         #73695c 0%,
          #8a8278 70%,
          #8f877e 100%
     
     );
}
.barna-hatter::after{
     content: "";
     position: absolute;
     inset: 0;
     background-image: radial-gradient(rgba(255,255,255,0.04) 1px,
     transparent 1px);
     opacity: 0.15;
     pointer-events: none;
}
.cegvezeto-nev{
     font-size: 34px;
     margin-top: -140px;
     font-family:"DidotPro",serif;
     font-style: normal;
     font-weight: 100;
     color: #f4efe9;
}
.cegnev{
     font-size: 19px;
     font-family:"DidotPro",serif;
     font-style: normal;
     margin-bottom: 10px;
     color: #f4efe9;
}
.kovetes{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     gap:20px;
     margin-right: 5px;
     margin-top: 15px;
}
.kovetes-gomb{
     height: 43px;
     width: 170px;
     text-align: center;
     padding-top: 10px;
     padding-left: 7px;
     font-size: 18px;
     border-radius: 7px;
     border: 2.3px solid transparent;
     background: linear-gradient(135deg,#fff9ef, #fff9ef) padding-box,
     linear-gradient(135deg, #9d907e
    ,#c3af94,#5b5045)
     border-box;
     color:#7b746a;
     letter-spacing: 0.04em;
     font-family:"DidotPro",serif;
     background: linear-gradient(to bottom,
     rgba (255,255,255,.18)0%
     rgba(255,255,255,.06) 35%
     rgba(0,0,0,.06) 100%
     );
     box-shadow: 
     inset 0 1px 0 rgba(84, 84, 84, 0.35),
     inset 0.5px 1.5px 3px rgba(0, 0, 0, 0.66),
     0 2px 3px rgba(79, 79, 79, 0.489);
}
.bi-heart-fill{
     color:#c7b195;
     padding-left: 5px;
     font-size: 0.9em;
}
.koveto-szamlalo{
     color:#d2cfc6;
     font-size: 21px;
     margin-top: 0px;
}
.social-media-button{
     display: flex;
     align-items: flex-start;
     gap: 30px;
     margin-top: 30px;
}
.instabutton,
.facebookbutton,
.megosztas-messengeren{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2.3px solid transparent;
    background: linear-gradient(135deg,#fff9ef, #fff9ef) padding-box,
    linear-gradient(135deg, #e9dcc8
    ,#aa957a,#5b5045)
     border-box;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-decoration: none;
     background: linear-gradient(to bottom,
     rgba (255,255,255,.18)0%
     rgba(255,255,255,.06) 35%
     rgba(0,0,0,.06) 100%
     );
     box-shadow: 
     inset 0 2px 3px rgba(84, 84, 84, 0.35),
     inset 0 1px 1px rgba(12, 12, 12, 0.884),
     0 1.3px 2.0px rgba(39, 39, 39, 0.444);
}
.bi-instagram,
.bi-facebook,
.bi-globe2{
     font-size: 24px;
     display: flex;
     justify-content: center;
     padding-bottom: 3px;
     background: linear-gradient(180deg, #c9bdad,#c7b195,#948475);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.button-name{
     display: flex;
     align-items: flex-start;
     gap: 28px;
     font-size: 14px;
     justify-content: center;
     margin-top: 5px;
     color:#f2efe8;;
     margin-bottom: -20px;
     font-family:"DidotPro",serif;
}
.telefonszam,
.emailcim{
     border: 3.2px solid transparent;
     background: linear-gradient(135deg,#8a8278 , #8a8278 ) padding-box,
     linear-gradient(135deg, #f2eadf
    ,#c7b195,#a69483)
     border-box;
     background: linear-gradient(to bottom,
     rgba (255,255,255,.18)0%
     rgba(255,255,255,.06) 35%
     rgba(0,0,0,.06) 100%
     );
     box-shadow: 
     inset 0 1px 0 rgba(84, 84, 84, 0.35),
     inset 0 1px 1px rgba(0, 0, 0, 0.66),
     0 1px 3px rgba(79, 79, 79, 0.489);
     cursor: pointer;
     color:  #fff7ec;
     letter-spacing: 0.05em;
     width: 360px;
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 18px;
     font-family:"DidotPro",serif;
     margin-bottom: 15px;
}
.telefonszam{
     margin-top: 40px;
}
.bi-envelope-at-fill{
    padding-left: 15px;
    margin-top: 5px;
    background: linear-gradient(180deg, #fff7ec,#c7b195,#a69483);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bi-telephone{
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 5px;
    background: linear-gradient(180deg, #fff7ec,#c7b195,#ada49c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bi-shop{
     padding-right: 5px;
     padding-left: 5px;
     margin-top: 5px;
     color:#d8cec2;
}
a{
    text-decoration: none !important;
}
.szolgaltatasok,
.Kezeles-elott-utan{
      background:  #978d85 0%  ;
     border: 1px solid rgb(210, 206, 184);
     padding-top:15px;
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-bottom: 15px;
     cursor: pointer;
     color: #f4efe9;
     width: 360px;
     height: 60px;
     white-space: nowrap;
     margin-top: 30px;
     font-size: 18px; 
     font-family:"DidotPro",serif;
     text-decoration: none !important;
}
.uzlethelyseg-lokacio,
.arlista,
.Nyitvatartas,
.akciok,
.Aktualis-tavolletek,
.Aktualis-hirek,
.hazirend,
.portfolio{
     background: #afa390;
     border: 1px solid #dad1c5;
     cursor: pointer;
     color: #f4efe9;
     padding-top:15px;
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-bottom: 15px;
     cursor: pointer;
     color: #f4efe9;
     letter-spacing: 0.06em;
     width: 360px;
     height: 60px;
     white-space: nowrap;
     margin-top: 30px;
     font-size: 18px; 
     background: linear-gradient(to bottom,
     rgba (255,255,255,.18)0%
     rgba(255,255,255,.06) 35%
     rgba(0,0,0,.06) 100%
     );
     box-shadow: 
     inset 0 1px 0 rgba(255,255,255,.35),
     inset 0 -10px 18px rgba(0,0,0,.18),
     0 10px 22px rgba(0,0,0,.18);
     font-family:"DidotPro",serif;
     text-decoration: none !important;  
}
.portfolio{
     margin-bottom: 50px;
}
 .bi-cash-stack,
 .bi-clock,
 .bi-megaphone,
 .bi-bell,
 .bi-x-square,
 .bi-house,
 .bi-images{
     padding-left: 20px;
     color: #f4efe9;
     font-size: 0.9em;
 }
 .bi-hand-index-thumb,
 .bi-file-text{
   color: #f4efe9;
   padding-left: 20px;
 }
  
.bi-telephone,
.bi-envelope-at-fill,
.bi-shop{
      margin-left: 5px;
}
.uzleti-informaciok-cim{
      text-align: center;
      margin-top: 40px;
      font-size: 27px;
      color: #fff5ed;
      font-family:"DidotPro",serif;
      display: flex;
      justify-content: center;
      align-items: center;
}
.portfolio-cim{
      text-align: center;
      margin-top: 40px;
      font-size: 30px;
      font-family: "Playfair Display", serif;
      display: flex;
      justify-content: center;
      align-items: center;   
}
.portfolio-bemutatas{
      text-align: center;
      margin-top: 10px;
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;   
}






@media screen and (min-width: 300px) and (max-width:440px) {               
    body{
     padding-left: 20px;
     padding-right: 20px;
     
    }
  .profilkep-image{
     object-fit: cover;
     margin-top: -80px;
     margin-bottom: 20px;
     margin-right: 15px;
     margin-left: 0;
  }
  .profilkep-image img{
     width: 350px;
     height: 350px;
  }
  .cegvezeto-nev{
     white-space: nowrap;
     display: flex;
     justify-content: center; 
     font-size: 25px;
  }
  .cegnev{
     white-space: nowrap;
     display: flex;
     justify-content: center; 
     font-size: 16px
  }
 .kovetes{
     margin-top: 20px;
     gap: 15px;
     width: 100%;
     max-width: 240px;
 }
 .kovetes-gomb{
     height: 39px;
     width: 100%;
     font-size: 14.5px;
 }
 .bi-heart-fill{
     font-size: 14px;
 }

 .koveto-szamlalo{
     font-size: 16.5px;
     white-space: nowrap;
 }
 .barna-hatter{
     margin-top: 150px;
     height: 520px !important;
 }
 .instabutton,
 .facebookbutton,
 .megosztas-messengeren{
     width: 55px;
     height: 55px;
}
.button-name{
     font-size: 13.5px;
     gap: 25px;
}
 .bi-instagram,
 .bi-facebook,
 .bi-globe2{
     font-size: 23px;
     padding-top: 7px;
}
 .telefonszam,
 .emailcim,
 .uzlethelyseg-lokacio{
     height: 48px;
     width: 85%;
     font-size: 14.5px;
 }
 
 .elerhetosegek-cim{
     white-space: nowrap;
     font-size: 22px;
 }
 
.arlista,
.Nyitvatartas,
.szolgaltatasok,
.akciok,
.Aktualis-tavolletek,
.Aktualis-hirek,
.Kezeles-elott-utan,
.hazirend,
.portfolio{
     width: 90%;
     height: 48px;
     padding-bottom: 15px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 22px;
     font-size: 14.5px;   
}
.telefonszam{
     margin-top: 40px;
}
.uzleti-informaciok-cim{
     white-space: nowrap;
     font-size: 22px;
}
.portfolio-cim{
     white-space: nowrap;
     font-size: 22px;
}
.portfolio-bemutatas{
     white-space: nowrap;
     font-size: 17px;
} 
}


