@font-face {
  font-family: "DidotPro";
  src:
    url("webfont-type/font.woff2") format("woff2"),
    url("webfont-type/font.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
html, body{
    margin: 0;
    overflow-x: hidden;
    max-width: 100%;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}
.hatterszin{
     display: flex;
     z-index: -1;
     position: absolute;
     background-color:#f8f4ee ;
     width: 100%;
     height: 550px;
     margin-top: 240px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}
.profilkep-image img{
    width: 550px;
    height: 550px;
    display: flex;
    object-fit: cover;
    border-radius: 50%;
    z-index: 1;
}
.profilkep-image{
     display: flex;
     justify-content: center;
     align-items: center;
     padding-bottom: 30px;
     margin-top: -120px;
} 
.cegvezeto-nev{
     font-size: 34px;
     margin-top: -100px;
     font-family:"DidotPro",serif;
     font-style: normal;
     font-weight: 100;
     color: #3b3b3b;
     text-shadow:
     0 0 1px rgba(255, 255, 255, 0.882),
     0 3px 5px rgba(0, 0, 0, 0.25);
}
.cegnev{
     font-size: 19px;
     font-family:"DidotPro",serif;
     font-style: normal;
     margin-bottom: 5px;
     color: #323232;
     text-shadow:
     0 0 1px rgba(255, 255, 255, 0.882),
     0 3px 5px rgba(0, 0, 0, 0.25);
}
.kovetes{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     gap:20px;
     margin-right: 5px;
     margin-top: 15px;
}
.kovetes-gomb{
     height: 41px;
     width: 170px;
     text-align: center;
     padding-top: 10px;
     padding-left: 7px;
     font-size: 18px;
     border: 1.9px solid transparent;
     background: linear-gradient(135deg,#ffffff, #ffffff) padding-box,
     linear-gradient(135deg, #f8e7d7
    ,#b8a69b,#9e8e82)
     border-box;
     background: linear-gradient(to bottom,
     rgba(255,255,255,.18)0%
     rgba(255,255,255,.06) 35%
     rgba(0,0,0,.06) 100%
     );
     border-radius: 7px;
     cursor: pointer;
     color:  #515151;
     letter-spacing: 0.04em;
     font-family:"DidotPro",serif;
     box-shadow: 
     inset 0 0px 0px rgba(31, 31, 31, 0.22),
     inset 0.5px 1.4px 1px rgba(49, 49, 49, 0.71),
     0 1.3px 2px rgb(155, 155, 155);
     text-shadow:
     0 -1px 1px rgba(181, 181, 181, 0.5),
     0 1px 6px rgba(0, 0, 0, 0.25);
}
.bi-heart-fill{
     color:#ccb8a9;
     padding-left: 5px;
     font-size: 0.9em;
     text-shadow: none;
}
.koveto-szamlalo{
     color:#929292;
     font-size: 22px;
     margin-top: 0px;
     text-shadow:
     0 -3px 4px rgba(255, 255, 255, 0.86),
     0 1px 6px rgba(83, 83, 83, 0.25);
}
.social-media-button{
     display: flex;
     align-items: flex-start;
     gap: 30px;
     margin-top: 30px;
}
.instabutton,
.facebookbutton,
.megosztas-messengeren{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2.6px solid transparent;
    background:linear-gradient(135deg, #ffffff,#ffffff) padding-box,
    linear-gradient(135deg,
     #f4eeee
    ,#c7c5c5,#535353)
     border-box;
     display: flex;
     align-items: center;
     justify-content: center; 
     text-decoration: none;
     background: linear-gradient(to bottom,
     rgba (255,255,255,.18)0%
     rgba(255,255,255,.06) 35%
     rgba(0,0,0,.06) 100%
     );
     box-shadow: 
     inset 0 2px 3px rgba(84, 84, 84, 0.35),
     inset 0 2.4px 1px rgba(35, 35, 35, 0.884),
     0 1.3px 2.0px rgba(39, 39, 39, 0.444);
}
.bi-instagram,
.bi-facebook,
.bi-globe2{
     font-size: 24px;
     display: flex;
     justify-content: center;
     background: linear-gradient(180deg,#f9e7da ,#ac9388,#775b4f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.button-name{
     display: flex;
     align-items: flex-start;
     gap: 28px;
     font-size: 14px;
     justify-content: center;
     margin-top: 5px;
     color:#3e3e3e;
     text-shadow:
     0 -1px 1px rgba(255,255,255,0.5),
     0 2px 4px rgba(0, 0, 0, 0.25);
     margin-bottom: -20px;
     font-family:"DidotPro",serif;
}
.telefonszam,
.emailcim{
     border: 2.5px solid transparent;
     background: linear-gradient(135deg,#ffffff, #ffffff) padding-box,
     linear-gradient(135deg, #f8e7d7
    ,#b8a69b,#b7a698)
     border-box;
     background: linear-gradient(to bottom,
     rgba(255,255,255,.18)0%
     rgba(255,255,255,.06) 35%
     rgba(0,0,0,.06) 100%
     );
     box-shadow: 
     inset 1.0px 1px 3.6px rgba(22, 22, 22, 0.873),
     0 2px 2px rgb(99, 99, 99);
     cursor: pointer;
     color:  #676767;
     letter-spacing: 0.05em;
     width: 360px;
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 15px;
     font-family:"DidotPro",serif;
     margin-bottom: 15px;
     padding-top: 4px;
     text-shadow:
     0 -1px 1px rgba(255,255,255,0.5),
     0 2px 4px rgba(0, 0, 0, 0.25);
}
.telefonszam{
     margin-top: 30px;
}
.bi-envelope-at-fill{
    padding-left: 15px;
    margin-top: 5px;
    background: linear-gradient(180deg, #4f4f4f,#393939,#232323);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bi-telephone{
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 5px;
    background: linear-gradient(180deg, #4f4f4f,#393939,#232323);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a{
    text-decoration: none !important;
}
.szolgaltatasok,
.Kezeles-elott-utan,
.portfolio{
     font-size: 16px; 
     background:linear-gradient(135deg, #f4ede6 0%, #e7ddd3 12%, #b9a99b 100%) ;
     border: 1px solid rgba (120,100,80,0.35);
     color:#3b3b3b;
     border-radius: 14px;
     padding: 0 20px;
     font-family:"DidotPro",serif;
     text-decoration: none !important;  
     cursor: pointer;
     text-shadow: 
     0 -1px 1px rgba(255,255,255,0.5),
     0 2px 4px rgba(0, 0, 0, 0.25);
     box-shadow: 
     inset 0 1px 0 rgba(255,255,255, 0.45),
     0 8px 20px rgba(0,0,0,0.12);
     letter-spacing: 0.06em;
     max-width: 360px;
     width: 100%;
     height: 50px;
     white-space: nowrap;
     display: flex;
     align-items:center;
     justify-content: space-between;
     margin-bottom: 15px;   
     
}
.uzlethelyseg-lokacio,
.akciok,
.felszabadult-idopontok{
     font-size: 16px; 
     background:linear-gradient(to bottom, #f6f1e8 0%, #efebe5 100%) ;
     color:#3b3b3b;
     border-radius: 14px;
     padding: 0 20px;
     font-family:"DidotPro",serif;
     text-decoration: none !important;  
     cursor: pointer;
     text-shadow: 
     0 -1px 1px rgba(255,255,255,0.5),
     0 2px 4px rgba(0, 0, 0, 0.25);
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06),
     0 6px 14px rgba(0, 0, 0, 0.10);
     letter-spacing: 0.06em;
     max-width: 360px;
     width: 100%;
     height: 50px;
     white-space: nowrap;
     display: flex;
     align-items:center;
     justify-content: space-between;
}
.Nyitvatartas,
.arlista,
.Aktualis-hirek{
     font-size: 16px; 
     background:linear-gradient(to bottom, #f1f1f1 0%, #fffcf7 100%) ;
     color:#4a4a4a;
     border-radius: 14px;
     padding: 0 20px;
     font-family:"DidotPro",serif;
     text-decoration: none !important;  
     cursor: pointer;
     text-shadow: 
     0 -1px 1px rgba(255,255,255,0.5),
     0 2px 4px rgba(0, 0, 0, 0.25);
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06),
     0 6px 14px rgba(0, 0, 0, 0.10);
     letter-spacing: 0.06em;
     max-width: 360px;
     width: 100%;
     height: 50px;
     white-space: nowrap;
     display: flex;
     align-items:center;
     justify-content: space-between;  
     margin-top: 15px;
     margin-bottom: 15px;

}
.hazirend,
.Aktualis-tavolletek{
     font-size: 16px; 
     background:linear-gradient(to left, #f5ede9 0%, #f4eee4 15% , #f9f5f1 100%);
     background:linear-gradient(to left, #f5ede9 0%, #f5eddf 15% , #f7f4f1 100%);
     color:#5f5f5f;
     border-radius: 14px;
     padding: 0 20px;
     font-family:"DidotPro",serif;
     text-decoration: none !important;  
     cursor: pointer;
     text-shadow: 
     0 -1px 1px rgba(255,255,255,0.5),
     0 2px 4px rgba(0, 0, 0, 0.25);
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06),
     0 6px 14px rgba(0, 0, 0, 0.10);
     letter-spacing: 0.06em;
     max-width: 360px;
     width: 100%;
     height: 50px;
     white-space: nowrap;
     display: flex;
     align-items:center;
     justify-content: space-between;     
}
.portfolio{
     margin-bottom: 50px;
}
 .bi-cash-stack,
 .bi-clock,
 .bi-megaphone,
 .bi-bell,
 .bi-x-square,
 .bi-house,
 .bi-images,
 .bi-shop,
 .bi-hand-index-thumb,
 .bi-file-text{
     color:#313131 ;
     font-size: 0.9em;
     padding-left: 15px;
     text-shadow: none;
}
 .bi-telephone,
 .bi-envelope-at-fill{
     margin-left: 5px;
}
 .uzleti-informaciok-cim,
 .arak-ajanlatok-cim,
 .kezeles-szolgaltatas-tajekoztato-cim,
 .aktualis-cim,
 .portfolio-cim{
     text-align: center;
     margin-top: 30px;
     margin-bottom: 20px;
     font-size: 20px;
     color: #707070;
     font-family:"DidotPro",serif;
     display: flex;
     justify-content: center;
     align-items: center;
     text-shadow:
     0 -1px 1px rgba(255, 255, 255, 0.575),
     0 1.5px 3.3px rgba(0, 0, 0, 0.25); 
     text-decoration: underline;
     text-decoration-thickness: 1px;
     text-decoration-color: #c6c6c6;
     text-underline-offset: 2px;
     width: 400px;
}
.uzleti-informaciok-cim{
     margin-top: 40px;
}
.portfolio-bemutatas{
     text-align: center;
     font-size: 14px;
     display: flex;
     justify-content: center;
     align-items: center;   
     margin-top: -10px;
     margin-bottom: 10px;
}
*{
     box-sizing: border-box;
}






@media screen and (min-width: 300px) and (max-width:440px) {               
.container{
     padding-left: 25px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-right: 25px;
     box-sizing: border-box;
}
.hatterszin{
     margin-top: 150px;
     height: 455px;
}
  .profilkep-image{
     object-fit: cover;
     margin-bottom: 20px;
     margin-top: -70px;
  }
  .profilkep-image img{
     width: 345px;
     height: 345px;
  }
  .cegvezeto-nev{
     white-space: nowrap;
     display: flex;
     justify-content: center; 
     font-size: 27px;
  }
  .cegnev{
     white-space: nowrap;
     display: flex;
     justify-content: center; 
     font-size: 17px;
  }
 .kovetes{
     margin-top: 10px;
     gap: 15px;
     width: 100%;
     max-width: 240px;
 }
 .kovetes-gomb{
     height: 35px;
     width: 100%;
     font-size: 14.5px;
     padding-top: 8.5px;
 }
 .bi-heart-fill{
     font-size: 14px;
 }

 .koveto-szamlalo{
     font-size: 16.5px;
     white-space: nowrap;
 }

 .instabutton,
 .facebookbutton,
 .megosztas-messengeren{
     width: 55px;
     height: 55px;
}
.button-name{
     font-size: 13.5px;
     gap: 28px;

}
 .bi-instagram,
 .bi-facebook,
 .bi-globe2{
     font-size: 23px;
     padding-top: 5px;
}
 .telefonszam,
 .emailcim{
     height: 45px;
     width: 80%;
     font-size: 14.5px;
 }
 
 .elerhetosegek-cim{
     white-space: nowrap;
     font-size: 22px;
 }

.uzlethelyseg-lokacio,
.arlista,
.Nyitvatartas,
.szolgaltatasok,
.akciok,
.Aktualis-tavolletek,
.Aktualis-hirek,
.Kezeles-elott-utan,
.hazirend,
.portfolio,
.felszabadult-idopontok{
     width: 85%;
     height: 45px;
     font-size: 14.5px;   
}
.telefonszam{
     margin-top: 25px;
}
.uzleti-informaciok-cim,
.arak-ajanlatok-cim,
.kezeles-szolgaltatas-tajekoztato-cim,
.aktualis-cim,
.portfolio-cim{
     white-space: nowrap;
     font-size: 19px;
     margin-top: 30px;
     margin-bottom: 20px;
}
.portfolio-bemutatas{
     white-space: nowrap;
     font-size: 12px;
} 


}