body{
    background-color: #ffffff;
    margin: 0;
    align-items: center;
    justify-content: center;
    
}
.navbar{
    width: 100%;
    font-size: 20px;
    height: 43px;
    background-color: rgb(235, 235, 235);
    padding-right:170px;
    padding-top: 4px;
    color: rgb(126, 114, 114);
    box-shadow: 0px 3px 12px rgb(161, 161, 161);
    border-bottom: 1px solid rgb(242, 242, 242);
    
}
.arlista{
display: flex;
text-align: center;
justify-content: center;
padding: 20px;
margin-top: 90px;
}
.arlista img{
box-shadow:
0px 10px 12px rgb(75, 75, 75);    
margin: 0 auto;
display: block;
height: auto;
max-width: 96%;
}
.bi-list-task{
 margin-left: 10px; 
 color: rgb(126, 114, 114);  
}
a{
 text-decoration: none;
}

@media screen and (max-width: 750px) {
.arlista img {
    max-height: 90vh;
    width: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    
  

}
.arlista{
    margin-top: 30px;
    
}


    
}