body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.navbar{
    width: 100%;
    font-size: 20px;
    height: 43px;
    background-color: rgb(235, 235, 235);
    padding-top: 4px;
    color: rgb(126, 114, 114);
    box-shadow: 0px 3px 12px rgb(161, 161, 161);
    border-bottom: 1px solid rgb(242, 242, 242);
    justify-content: center;
    z-index: 0;
}
.bi-list-task{
    color: rgb(126, 114, 114);  
    position: absolute;
    z-index: 1;
    font-size: 24px;
    margin-top: 2px;
    margin-left: 5px;
}
a{
    text-decoration: none;
}
.mainwallpaper{
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.mainwallpaper-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 25%;
}
.content{
  position: relative;
  z-index: 1;
  width: min(520px, 92%);
  margin: 0 auto;
  padding-top: 90px;     
  padding-bottom: 60px;
}
.bevezeto-szoveg{
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  color: rgb(72,66,66);
  margin-bottom: 30px;
  margin-top: 20px;
}
/* VONALAK */
.hr1, .hr2{
  border: none;
  border-top: 1.5px solid rgb(126,126,126);
  margin: 10px 0;
}
.datum-fejlec{
  display: flex;
  justify-content: center;
  gap: 80px;
  font-size: 22px;
  color: rgb(72,66,66);
}
.datum-fejlec p{ margin: 0px; }

.idopontok-gombok{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin-top: 50px;
  white-space: nowrap;
}
.idopont-doboz{
   width: 100%;
  position: relative;
  max-width: 400px;
  width: 400px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;               /* EZ adja a “kicsivel alatta” érzést */
  padding: 10px 14px;
  padding-right: 30px;
  border-radius: 15px;
  font-size: 18px;
  color: rgb(72,66,66);
  border: 2.6px solid transparent;
  background:
  linear-gradient(135deg, #f7f4f4, #ffffff) padding-box,
  linear-gradient(135deg, #e7e6e6, #c7c5c5, #abaaaa) border-box;
  box-shadow:
  inset 0 1.5px 2px rgba(35, 35, 35, 0.781),
  inset 0 2.4px 1px rgba(112, 112, 112, 0.278);
}
.ora-perc{
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.telefon-ikon{
    position: absolute;
    right: 15px;
    top:65%;
    transform: translateY(-50%);
    font-size: 17px;
    color: rgb(119, 106, 106);
}
.idopont{
  font-size: 17px;
  opacity: 0.65;
  margin-top: 2px;
}



@media screen and (max-width: 700px) {

    .bevezeto-szoveg{
        font-size: clamp(18px,4.2vw,24px);
    }
    .datum-fejlec{
        font-size: clamp(18px,3.4vw,22px);  
    }
    .idopont-doboz{
      width: 85%;
      height: auto;
    }
    .idopont{
        font-size: clamp(16px,3.4vw,18px);
    }
    
}