body{
    margin: 0;
    font-family: "Playfair Display", serif;
}
.vissza-a-fooldalra{
    padding: 10px;
    border: 1px solid black;
    background-color: black;
    color: white;
    white-space: nowrap;
    width: 160px;
    height: 50px;
}
a{
    text-decoration: none;
}
.szajtetovalas-cim,
.szemoldok-tetovalas-cim,
.szemhelytetovalas-cim{
 font-family: "Playfair Display", serif;
 font-size: 22px;
 margin-left: 10px;
 z-index: 1;
}   
.szajtetovalas-cim{
    margin-bottom:420px;
    position: absolute;
    color: rgb(255, 255, 255);
}
.szemoldok-tetovalas-cim{
    margin-bottom:40px;
    position: absolute;
    color: rgb(255, 255, 255); 
}
.szemhelytetovalas-cim{
    margin-top:340px;
    position: absolute;
    color: rgb(255, 255, 255);  
}

.szolgaltatasok{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap:10px;
    opacity:80% ;
    
}
.tovabb-a-kepekre1{
    box-sizing: content-box;
    width: 120px;
    height: 30px;
    white-space: nowrap;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    margin-top: 90px;
    position: absolute;
    margin-left: 105px;
    font-size: 14px;
    text-align: center;
    padding-top: 3px;
    z-index: 1;
}
.tovabb-a-kepekre2{
    box-sizing: content-box;
    width: 120px;
    height: 30px;
    white-space: nowrap;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    margin-top: 45px;
    position: absolute;
    margin-left: 20px;
    font-size: 14px;
    text-align: center;
    padding-top: 3px;
    z-index: 1;
}
.tovabb-a-kepekre3{
    box-sizing: content-box;
    width: 120px;
    height: 30px;
    white-space: nowrap;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    margin-bottom: -430px;
    position: absolute;
    margin-left: 10px;
    font-size: 14px;
    text-align: center;
    padding-top: 3px;
    z-index: 1;
}
.szajtetovalas img,
.szemoldoktetovalas img,
.szemhelytetovalas{
filter: brightness(0.6);
z-index: 0;
}

/* Mobil nézet */
@media screen and (max-width: 576px) {
  .container {
    padding: 10px;
  }
}
.szajtetovalas img{
   max-width: 320px;
}
.szemoldoktetovalas img{
    max-width: 320px;
}
.szemhelytetovalas img{
    max-width: 320px;
}