@font-face {
  font-family: "DidotPro";
  src:
    url("webfont-type/font.woff2") format("woff2"),
    url("webfont-type/font.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
body{
    background-color: #fbf9f7;
    margin: 0;
    padding: 0;
    min-height: 100%;
}
.navbar{
    width: 100%;
    font-size: 20px;
    height: 43px;
    background-color: rgb(235, 235, 235);
    padding-top: 4px;
    color: rgb(126, 114, 114);
    box-shadow: 0px 3px 12px rgb(161, 161, 161);
    border-bottom: 1px solid rgb(242, 242, 242);
    justify-content: center;
    z-index: 0;
    
}
.bi-list-task{
 margin-left: 5px; 
 color: rgb(126, 114, 114);  
 position: absolute;
 z-index: 1;
 font-size: 24px;
 margin-top: 2;
}
a{
 text-decoration: none;
}
.main-wallpaper img{
  position: relative;
  display: flex;
  width: 100%;
  height: 450px;
  z-index: 0;
  filter: brightness(0.6)
}
.main-wallpaper-szoveg{
  position: absolute;
  display: flex;
  z-index: 1;
  transform: translate(-50%, -40%);
  left: 50%;
  top: 35%;
  font-size: 50px;
  width: 870px;
  color: rgb(229, 229, 229);
  font-family:"DidotPro",serif;
  text-align: center;
  justify-content: center;
  letter-spacing: 2px;
}
.szolgaltatasok-es-akciok-cim{
  display: none;
}
.fo-container{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 70px;
    box-sizing: border-box;
    grid-template-columns: repeat(2, minmax(0, 600px));
    animation: fadein 1.6s ease-out forwards;
  }

  @keyframes fadein{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }


.arlista-container{
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box; 
}
.kategoria{
    font-size: 35px;
    color: #6b3f4f;
    font-weight: 500;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-top: 20px;
    font-family: "DidotPro";
    display: inline-block;
    position: relative;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    
}
.kategoria::before,
.kategoria::after{
  content: "";
  position: absolute;
  top: 44%;
  width: 20px; 
  height: 0.5px;   
  background: rgb(156,105,105);
}
.kategoria::before{
  left: 6px;   /* bal oldali t치vols치g */
}
.kategoria::after{
  right: -25px;  /* jobb oldali t치vols치g */
}
.arak-alkalom-szerint{
    display: flex;
    justify-content: space-between;
}
.elso-alkalom{
    font-size: 19px;
    padding-bottom: 30px;
    padding-left: 20px;  
    letter-spacing: 1.2px;
    font-weight: 500;
    color: #2f2f2f;
}
.hr-decor{
  width: 98%;
  height: 0.5px;
  border: none;
  background-color:rgb(148, 148, 148);
  margin-top: -20px;
  margin-bottom: 20px;

}
.hat-honapon-bellul,
.hat-honap-utan,
.egy-ev-utan{
    font-size: 19px;
    padding-bottom: 12px;
    padding-left: 20px;
    color: rgb(54, 54, 54);
}
.ar1,
.ar2,
.ar3,
.ar4,
.ar5,
.ar6,
.ar7,
.ar8,
.ar9,
.ar10,
.ar11,
.ar12,
.ar13,
.ar14,
.ar15,
.ar16{
    font-size: 19px;
    padding-right: 20px;
    color: #9d9d9d;
    font-family: "Playfair Display" , serif;
    margin-left: auto;
}
.ar2,
.ar3,
.ar6,
.ar7,
.ar9{
    text-decoration: line-through;
}
.akcio{
    color: #8e3a4f ;
    font-size: 18.5px;
    font-weight: 500;
    padding-right: 20px;
    
}


@media screen and (min-width: 300px) and (max-width:400px) {     
  .main-wallpaper img{
    width: 100%;
    height: clamp(20vh, 24vh, 35vh);
    object-fit: cover;
    object-position: 20%;
    display: none;
  }
  .main-wallpaper-szoveg{
    font-size: 30px;
    line-height: 1.25;
    color: rgb(255, 255, 255);
    width: 80%;
    top:19%;
    text-align: center;
    opacity: 0;
    animation: fadein 1.6s ease-out forwards;
    display: none;
  }
  @keyframes fadein{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  .szolgaltatasok-es-akciok-cim{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    letter-spacing: 2.4px;
    font-size: 23px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    font-family: "DidotPro";
    text-transform: uppercase;
    text-align: center;
    color: #6b3f4f;
    font-weight: 500;
  }
    .fo-container{
        grid-template-columns: 1fr;
        margin-top: 0px;
        padding-top: 20px;
        gap: 30px;
    }
    .arlista-container{
        width: 100%;
        padding-left:  10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    .kategoria{
        font-size: 24px;
    }
    .elso-alkalom,
    .hat-honapon-bellul,
    .hat-honap-utan,
    .egy-ev-utan{
        font-size: 15px;
    }
    .ar1,
    .ar2,
    .ar3,
    .ar4,
    .ar5,
    .ar6,
    .ar7,
    .ar8,
    .ar9,
    .ar10,
    .ar11,
    .ar12,
    .ar13,
    .ar14,
    .ar15,
    .ar16{
        font-size: 16.5px;
    }
    .akcio{
        font-size: 14.3px;
  
    }
}

@media screen and (min-width: 401px) and (max-width:500px) {

.main-wallpaper img{
    width: 100%;
    height: clamp(20vh, 24vh, 35vh);
    object-fit: cover;
    object-position: 20%;
    display: none;
  }
  .main-wallpaper-szoveg{
    font-size: 34px;
    line-height: 1.25;
    color: rgb(255, 255, 255);
    width: 80%;
    top:18%;
    text-align: center;
    opacity: 0;
    animation: fadein 1.6s ease-out forwards;
    display: none;
  }
  @keyframes fadein{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  .szolgaltatasok-es-akciok-cim{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    letter-spacing: 2.4px;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    font-family: "DidotPro";
    text-transform: uppercase;
    text-align: center;
    color: #6b3f4f;
    font-weight: 500;
  }
    .fo-container{
        grid-template-columns: 1fr;
        margin-top: 0px;
        padding-top: 20px;
        gap: 30px;
    }
    .arlista-container{
        width: 95%;
        margin: 0 auto;
        padding-left:  10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
   
    .kategoria{
        font-size: 28px;
    }
    .elso-alkalom,
    .hat-honapon-bellul,
    .hat-honap-utan,
    .egy-ev-utan{
        font-size: 15.5px;
    }
    .ar1,
    .ar2,
    .ar3,
    .ar4,
    .ar5,
    .ar6,
    .ar7,
    .ar8,
    .ar9,
    .ar10,
    .ar11,
    .ar12,
    .ar13,
    .ar14,
    .ar15,
    .ar16{
        font-size: 17.0px;
    }
    .akcio{
        font-size: 14.9px;
  
    }
}