@font-face {
  font-family: "DidotPro";
  src:
    url("webfont-type/font.woff2") format("woff2"),
    url("webfont-type/font.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
body{
    background-color: #fbf9f7;
    margin: 0;
    padding: 0;
    min-height: 100%;
}
.navbar{
 display: flex;
 align-items: center;
 width: 100%;
 height: 80px;
 background:linear-gradient(to bottom, #e8e8e8, #f6f2f2);
 box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.318);
 border-bottom: 1px solid rgb(242, 242, 242);
 z-index: 0;
}
.bi-box-arrow-left{
 color: #5b534d;
 display: flex;
 align-items: flex-start;
 padding-left: 25px;
 font-size: 24px;
 margin-top: 2px;
}
.fooldal-cim{
  display: flex;
  padding-left: 10px;
  align-items: flex-start;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 23px;
  color: #5b534d;
  letter-spacing: 1px;
}
.eden-salon-cim{
  margin: 0 auto;
  align-items: center;
  font-family: "DidotPro";
  font-size: 24px;
  color: #5b534d;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.bi-telephone{
  margin-left: auto;
  padding-right: 30px;
  color: #8c7259;
  font-size: 22px;
}
.bi-envelope-at-fill{
  display: flex;
  margin-left: auto;
  padding-right: 50px;
  color: #8c7259;
  font-size: 22px;
}

a{
 text-decoration: none;
}
.main-wallpaper img{
  position: relative;
  display: flex;
  width: 100%;
  height: 450px;
  z-index: 0;
  filter: brightness(0.6)
}
.main-wallpaper-szoveg{
  position: absolute;
  display: flex;
  z-index: 1;
  transform: translate(-50%, -40%);
  left: 50%;
  top: 35%;
  font-size: 45px;
  width: 870px;
  color: rgb(209, 208, 208);
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  justify-content: center;
  letter-spacing: 2.8px;
  
}
.szolgaltatasok-es-arak-cim{
  display: none;
}
.fo-container{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 70px;
    box-sizing: border-box;
    grid-template-columns: repeat(2, minmax(0, 600px));
    animation: fadein 1.6s ease-out forwards;
  }

  @keyframes fadein{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }


.arlista-container{
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box; 
}
.kategoria{
    font-size: 35px;
    color: #6b3f4f;
    font-weight: 500;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-top: 20px;
    font-family: "DidotPro";
    display: inline-block;
    position: relative;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    
}
.kategoria::before,
.kategoria::after{
  content: "";
  position: absolute;
  top: 44%;
  width: 20px; 
  height: 0.5px;   
  background: rgb(156,105,105);
}
.kategoria::before{
  left: 6px;   /* bal oldali t치vols치g */
}
.kategoria::after{
  right: -25px;  /* jobb oldali t치vols치g */
}
.arak-alkalom-szerint{
    display: flex;
    justify-content: space-between;
}
.elso-alkalom{
    font-size: 19px;
    padding-bottom: 30px;
    padding-left: 20px;  
    letter-spacing: 1.2px;
    font-weight: 500;
    color: #2f2f2f;
}
.hr-decor{
  width: 98%;
  height: 0.5px;
  border: none;
  background-color:rgb(148, 148, 148);
  margin-top: -20px;
  margin-bottom: 20px;

}
.hat-honapon-bellul,
.hat-honap-utan,
.egy-ev-utan{
    font-size: 18px;
    padding-bottom: 12px;
    padding-left: 20px;
    color: rgb(54, 54, 54);
}
.ar{
    font-size: 21px;
    padding-right: 20px;
    color: #2e2e2e;
    font-weight: 500;
    font-family: "Playfair Display" , serif;
}
.lablec{
  padding-bottom: 50px;
}


@media screen and (min-width: 300px) and (max-width:400px) {     
  .main-wallpaper img{
    width: 100%;
    height: clamp(20vh, 24vh, 35vh);
    object-fit: cover;
    object-position: 20%;
    display: none;
  }
  .main-wallpaper-szoveg{
    font-size: 30px;
    line-height: 1.25;
    color: rgb(255, 255, 255);
    width: 80%;
    top:19%;
    text-align: center;
    opacity: 0;
    animation: fadein 1.6s ease-out forwards;
    display: none;
  }
  @keyframes fadein{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  .fooldal-cim{
    font-size: 15.6px;
    padding-left: 5px;
  }
  .bi-box-arrow-left{
    font-size: 15px;
    padding-left: 10px;
  }
  .eden-salon-cim{
    font-size: 18.5px;
  }
  .bi-telephone{
    font-size: 15px;
    padding-right: 12px;
  }
  .bi-envelope-at-fill{
    padding-right: 17px;
    font-size: 15px;
  }
  .szolgaltatasok-es-arak-cim{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    letter-spacing: 2.4px;
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    font-family: "DidotPro";
    text-transform: uppercase;
    text-align: center;
    color: #825767;
    font-weight: 500;
  }
    .fo-container{
        grid-template-columns: 1fr;
        margin-top: 0px;
        padding-top: 20px;
        gap: 30px;
    }
    .arlista-container{
        width: 100%;
        padding-left:  10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    .kategoria{
        font-size: 24px;
    }
     .elso-alkalom{
      font-size: 16.5px;
    }
    .hat-honapon-bellul,
    .hat-honap-utan,
    .egy-ev-utan{
        font-size: 15px;
    }
    .ar{
        font-size: 17px;
    }
}

@media screen and (min-width: 401px) and (max-width:500px) {

.main-wallpaper img{
    width: 100%;
    height: clamp(20vh, 24vh, 35vh);
    object-fit: cover;
    object-position: 20%;
    display: none;
  }
  .main-wallpaper-szoveg{
    font-size: 34px;
    line-height: 1.25;
    color: rgb(255, 255, 255);
    width: 80%;
    top:18%;
    text-align: center;
    opacity: 0;
    animation: fadein 1.6s ease-out forwards;
    display: none;
  }
  @keyframes fadein{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  





  .szolgaltatasok-es-arak-cim{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    letter-spacing: 2.4px;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    font-family: "DidotPro";
    text-transform: uppercase;
    text-align: center;
    color: #6b3f4f;
    font-weight: 500;
  }
    .fo-container{
        grid-template-columns: 1fr;
        margin-top: 0px;
        padding-top: 20px;
        gap: 30px;
    }
    .arlista-container{
        width: 95%;
        margin: 0 auto;
        padding-left:  10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    .arlista-cim{
        font-size: 39px;
        margin-top: 50px;
    }
    .kategoria{
        font-size: 28px;
    }
    .elso-alkalom{
      font-size: 17.0px;
    }
    .hat-honapon-bellul,
    .hat-honap-utan,
    .egy-ev-utan{
        font-size: 15.5px;
    }
    .ar{
        font-size: 17.5px;
    }
}