body{
    margin: 0;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profilkep-image img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.profilkep-image{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
}
.hr1{
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 10px 0;
}
.cegvezeto-nev{
    font-size: 34px;
    margin-top: 5px;
    font-family: "Waterfall", serif;
}
.vallalkozas{
     font-size: 23px;
     font-family: "Waterfall", serif;
}
.tulajdonos-felirat{
     font-size: 20px;
     color:#747474;
     font-family: "Waterfall", serif;
}
.salonname{
     font-size: 22px;
     font-family: "Waterfall", serif;
}
.kovetes{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     gap:15px;
     margin-top: 15px;
}
.kovetes-gomb{
     height: 43px;
     width: 100%;
     width: 170px;
     text-align: center;
     padding-top: 8px;
     font-size: 18px;
     border-radius: 7px;
     color: #e4ddcc;
     background-color: #444040;
     box-shadow: 0px 5px 9px rgb(205, 205, 205);
}
.bi-heart-fill{
     color: #e4ddcc;
     padding-left: 5px;
     font-size: 17px;
}

.koveto-szamlalo{
     color: #4a4a4a;
     font-size: 21px;
     margin-top: 0px;
}
.megosztas-messengeren{
     padding-top: 9px;
     text-align: center;
     border: 1px solid #a0a0a0;
     color: #4a4a4a;
     border-radius: 8px;
     cursor: pointer;
     padding-left: 5px;
     width: 100%;
     width: 170px;
     height: 42px;
     white-space: nowrap;
     text-decoration: none;   
     box-shadow: 0px 5px 9px rgb(205, 205, 205);
     font-family: "Josefin Slab", serif;
     font-size: 17px;
}
.bi-messenger,
.bi-person-badge-fill,
.bi-shop{
     padding-right: 5px;
     padding-left: 5px;
     margin-top: 10px;
     color: #c0b8a7;
}

.Login-registrer {
     border-radius: 8px;
     text-align: center;
     padding-top: 9px;
     padding-left: 5px;
     cursor: pointer;
     color: #4a4a4a;
     border: 1px solid #a0a0a0;
     width: 100%;
     width: 170px;
     height: 42px;
     white-space: nowrap;
     text-decoration: none;   
     box-shadow: 0px 5px 9px rgb(205, 205, 205);
     font-family: "Josefin Slab", serif;
     font-size: 17px;
}

.bejelentkezes-regisztracios-megosztas-container{
     display: flex;
     flex-direction: row;
     margin-top: 30px;
     margin-bottom: 20px;
     gap: 15px;
     justify-content: center;
     align-items: center;
}
.uzlethelyseg-lokacio{
     border-radius: 8px;
     padding-top: 9px;
     cursor: pointer;
     color:rgb(63, 63, 63);
     border: 1px solid #a0a0a0;
     text-align: center;
     width: 100%;
     width: 260px;
     height: 42px;
     white-space: nowrap;
     text-decoration: none;   
     box-shadow: 0px 5px 9px rgb(205, 205, 205);
     font-family: "Josefin Slab", serif;
     font-size: 17px; 
}
a{
    text-decoration: none !important;
}
.elerhetosegek-cim{
     text-align: center;
      margin-top: 60px;
      font-size: 30px;
      margin-bottom:-20px;
      font-family: "Playfair Display", serif;
      display: flex;
      justify-content: center;
      align-items: center;   
}
.telefonszam,
.emailcim,
.arlista,
.Nyitvatartas,
.szolgaltatasok,
.akciok,
.Aktualis-tavolletek,
.Aktualis-hirek,
.Kezeles-elott-utan,
.hazirend,
.portfolio{
     background-color: #69625e;
     padding-top:15px;
     border: 1px solid #c5c5c5;
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-bottom: 15px;
     cursor: pointer;
     color: #f4f1ea;
     width: 360px;
     height: 60px;
     white-space: nowrap;
     margin-top: 30px;
     font-size: 20px; 
     box-shadow: 0px 10px 14px rgb(198, 198, 198);
     font-family: "Josefin Slab", serif;
     text-decoration: none !important;
}
.telefonszam{
     margin-top: 50px;
}
.portfolio{
     margin-bottom: 50px;
}

 .bi-cash-stack,
 .bi-clock,
 .bi-megaphone,
 .bi-bell,
 .bi-hand-index-thumb,
 .bi-x-square,
 .bi-file-text,
 .bi-house,
 .bi-images{
     padding-left: 10px;
 }

.instabutton,
.facebookbutton,
.mywebpage{
      background-color: #fffefb; 
      border-radius: 10px;
      border: 1px solid #c5c5c5;
      cursor: pointer;
      color: #4a4a4a;
      width: 310px;
      height: 60px;
      white-space: nowrap;
      margin-top: 20px;
      text-decoration: none; 
      font-size: 20px; 
      box-shadow: 0px 7px 11px rgb(186, 186, 186);
      font-family: "Josefin Slab", serif;
      display: flex;
      justify-content: center;
      align-items: center; 
}
.bi-instagram,
.bi-facebook,
.bi-globe2{
     padding-right: 10px;
}
.bi-telephone,
.bi-envelope-at-fill,
.bi-shop{
      margin-left: 5px;
     
}
.social-media-cim{
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 30px;
      font-family: "Playfair Display", serif;
      display: flex;
      justify-content: center;
      align-items: center;
}
.uzleti-informaciok-cim{
      text-align: center;
      margin-top: 40px;
      font-size: 30px;
      font-family: "Playfair Display", serif;
      display: flex;
      justify-content: center;
      align-items: center;
}
.portfolio-cim{
      text-align: center;
      margin-top: 40px;
      font-size: 30px;
      font-family: "Playfair Display", serif;
      display: flex;
      justify-content: center;
      align-items: center;   
}
.portfolio-bemutatas{
      text-align: center;
      margin-top: 10px;
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;   
}






@media screen and (min-width: 300px) and (max-width:390px) {               
    body{
     padding-left: 20px;
     padding-right: 20px;
     
    }
  .profilkep-image{
     object-fit: cover;
  }
  .profilkep-image img{
     width: 165px;
     height: 160px;
  }
  .cegvezeto-nev{
     white-space: nowrap;
     display: flex;
     justify-content: center; 
     font-size: 27px;
  }
  .vallalkozas{
     white-space: nowrap;
     display: flex;
     justify-content: center; 
     font-size: 19px;
     margin-left: 5px;
  }
  .tulajdonos-felirat{
     font-size: 17px;
     white-space: nowrap;
     display: flex;
     justify-content: center; 
  }
  .salonname{
     white-space: nowrap;
     display: flex;
     justify-content: center; 
     font-size: 19px;
  }
 .kovetes{
     margin-top: 20px;
     gap: 15px;
     width: 100%;
     max-width: 240px;
 }
 .kovetes-gomb{
     height: 39px;
     width: 100%;
     font-size: 15px;
 }
 .bi-heart-fill{
     font-size: 14px;
 }

 .koveto-szamlalo{
     font-size: 17.5px;
     white-space: nowrap;
 }
 .bejelentkezes-regisztracios-megosztas-container{
     gap: 10px;
     width: 93%;
     height: 40px;
     align-items: stretch;
 }
 .megosztas-messengeren{
     font-size: 16px;
     height: 92%;
     padding-top: 5px;
 }
 .Login-registrer{
     font-size: 16px;
     height: 92%;
     padding-top: 5px;
     padding-left: 7px;
 }
 .uzlethelyseg-lokacio{
     padding-top:6px;
     font-size: 16px;
     height: 92%;
     padding-left: 3px;
     padding-bottom: 4px;
     margin-top: -12px;
 }
 
 .bi-person-badge-fill{
    padding-right: 13px;
}
 .elerhetosegek-cim{
     white-space: nowrap;
     font-size: 22px;
 }
 .social-media-cim{
     white-space: nowrap;
     font-size: 22px;
     margin-top: 0;
 }
.instabutton,
.facebookbutton,
.mywebpage{
     width: 80%;
     height: 48px;
     display: flex;
     justify-content: center;
     align-items: center; 
     font-size: 16px;
     margin-top: 22px;
}
.bi-globe2,
.bi-facebook,
.bi-instagram{
     padding-right: 8px;
}
.uzlethelyseg-lokacio{
    width: 90%;
    width: 210px;
}
.telefonszam,
.emailcim,
.arlista,
.Nyitvatartas,
.szolgaltatasok,
.akciok,
.Aktualis-tavolletek,
.Aktualis-hirek,
.Kezeles-elott-utan,
.hazirend,
.portfolio{
     width: 90%;
     height: 48px;
     padding-bottom: 15px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 22px;
     font-size: 16px;   
}
.telefonszam{
     margin-top: 40px;
}
.uzleti-informaciok-cim{
     white-space: nowrap;
     font-size: 22px;
}
.portfolio-cim{
     white-space: nowrap;
     font-size: 22px;
}
.portfolio-bemutatas{
     white-space: nowrap;
     font-size: 17px;
} 
}


@media screen and (min-width: 390px) and (max-width:470px) {              
 body{
     padding-left: 20px;
     padding-right: 20px;
     
    }
  .profilkep-image{
     object-fit: cover;
  }
  .profilkep-image img{
     width: 165px;
     height: 160px;
  }
  .cegvezeto-nev{
     white-space: nowrap;
     display: flex;
     justify-content: center; 
     font-size: 27px;
  }
  .vallalkozas{
     white-space: nowrap;
     display: flex;
     justify-content: center; 
     font-size: 19px;
     margin-left: 5px;
  }
  .tulajdonos-felirat{
     font-size: 17px;
     white-space: nowrap;
     display: flex;
     justify-content: center; 
  }
  .salonname{
     white-space: nowrap;
     display: flex;
     justify-content: center; 
     font-size: 19px;
  }
 .kovetes{
     margin-top: 20px;
     gap: 15px;
     width: 100%;
     max-width: 240px;
 }
 .kovetes-gomb{
     height: 39px;
     width: 100%;
     font-size: 15px;
 }
 .bi-heart-fill{
     font-size: 14px;
 }

 .koveto-szamlalo{
     font-size: 18px;
     white-space: nowrap;
 }
 .bejelentkezes-regisztracios-megosztas-container{
     gap: 10px;
     margin-bottom: 20px;
     width: 88%;
     height: 42px;
     align-items: stretch;
 }
 
 .bi-person-badge-fill{
    padding-right: 13px;
}
 
 .social-media-cim{
     white-space: nowrap;
     font-size: 22px;
 }
.instabutton,
.facebookbutton,
.mywebpage{
     width: 80%;
     height: 46px;
     display: flex;
     justify-content: center;
     align-items: center; 
     font-size: 16px;
     margin-top: 20px;
}
.bi-globe2,
.bi-facebook,
.bi-instagram{
     padding-right: 8px;
}
.uzlethelyseg-lokacio{
    width: 90%;
    width: 230px;
}
.telefonszam,
.emailcim,
.arlista,
.Nyitvatartas,
.szolgaltatasok,
.akciok,
.Aktualis-tavolletek,
.Aktualis-hirek,
.Kezeles-elott-utan,
.hazirend,
.portfolio{
     width: 85%;
     height: 46px;
     padding-bottom: 13px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
     font-size: 16px;   
}
.telefonszam{
     margin-top: 40px;
}
.uzleti-informaciok-cim{
     white-space: nowrap;
     font-size: 22px;
}
.elerhetosegek-cim{
     white-space: nowrap;
     font-size: 22px;  
}
.portfolio-cim{
     white-space: nowrap;
     font-size: 22px;
}
.portfolio-bemutatas{
     white-space: nowrap;
     font-size: 17px;
} 
}
