body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.navbar{
    width: 100%;
    font-size: 20px;
    height: 43px;
    background-color: rgb(235, 235, 235);
    padding-top: 4px;
    color: rgb(126, 114, 114);
    box-shadow: 0px 3px 12px rgb(161, 161, 161);
    border-bottom: 1px solid rgb(242, 242, 242);
    justify-content: center;
    z-index: 0;
}
.bi-list-task{
    color: rgb(126, 114, 114);  
    position: absolute;
    z-index: 1;
    font-size: 24px;
    margin-top: 2px;
    margin-left: 5px;
}
a{
    text-decoration: none;
}
.mainwallpaper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    z-index: 0;
    position: relative;
}
.mainwallpaper img{
    width: 100%;
    height: 100%;
    object-position: center 25%;
    object-fit: cover
}
.bevezeto-szoveg{
    z-index: 2;
    inset: 0;
    display: flex;
    position: absolute;
    font-size: 25px;
    font-weight: 300;
    margin-top: 80px;
    justify-content: center;
}
.hr1{
    display: flex;
    position: absolute;
    inset: 0;
    z-index: 2;
    text-decoration: underline;
    width: 100%;
    margin-top: 150px;
    text-decoration-thickness: 1.5px;
    text-decoration-color: rgb(126, 126, 126);
}
.hr2{
    display: flex;
    position: absolute;
    inset: 0;
    z-index: 2;
    text-decoration: underline;
    width: 100%;
    margin-top: 220px;
    text-decoration-thickness: 1.5px;
    text-decoration-color: rgb(126, 126, 126);   
}
.datum-fejlec{
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    z-index: 2;
    inset: 0;
    position: absolute;
    margin-top: 170px;
    font-size: 22px;
}
.idopontok-gombok{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 2;
    gap: 30px;
    inset: 0;
    margin-top: 200px;
}
.idopont{
    max-width: 360px;
    width: 100%;
    height: 50px;
    border: 1px solid rgb(169, 162, 163);
    box-shadow:
    0 10px 24px rgba(0,0,0,0.12),
    inset 0 1px 0 rgba(255,255,255,0.85),
    inset 0 -1px 0 rgba(0,0,0,0.6);
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 18px;
    color: rgb(72, 66, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 8px rgb(204, 204, 204);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(6px);

}






@media screen and (max-width: 700px) {

    .bevezeto-szoveg{
        font-size: clamp(23px,4.2vw,24px);
    }
    .datum-fejlec{
        font-size: clamp(21px,4.0vw,22px);  
    }
    .idopontok-gombok{
        height: auto;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    
}