body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100%;
    
}
.navbar{
    width: 100%;
    font-size: 20px;
    height: 43px;
    background-color: rgb(235, 235, 235);
    padding-top: 4px;
    color: rgb(126, 114, 114);
    box-shadow: 0px 3px 12px rgb(161, 161, 161);
    border-bottom: 1px solid rgb(242, 242, 242);
    justify-content: center;
    z-index: 0;
    
}
.arlista{
display: flex;
text-align: center;
justify-content: center;
padding: 20px;
margin-top: 90px;
}
.arlista img{
box-shadow:
0px 10px 12px rgb(75, 75, 75);    
margin: 0 auto;
display: block;
height: auto;
max-width: 96%;
}
.bi-list-task{
 margin-left: 5px; 
 color: rgb(126, 114, 114);  
 position: absolute;
 z-index: 1;
 font-size: 24px;
 margin-top: 2;
}
a{
 text-decoration: none;
}

@media screen and (max-width: 576px) {
.arlista img {
   width: 98%;
   height: auto;
    
}
.arlista{
    margin-top: 40px;
    
}


    
}