@font-face {
  font-family: "DidotPro";
  src:
    url("webfont-type/font.woff2") format("woff2"),
    url("webfont-type/font.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
body{
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    min-height: 100%;
}
.navbar{
    width: 100%;
    font-size: 20px;
    height: 43px;
    background-color: rgb(235, 235, 235);
    padding-top: 4px;
    color: rgb(126, 114, 114);
    box-shadow: 0px 3px 12px rgb(161, 161, 161);
    border-bottom: 1px solid rgb(242, 242, 242);
    justify-content: center;
    z-index: 0;
    
}
.bi-list-task{
 margin-left: 5px; 
 color: rgb(126, 114, 114);  
 position: absolute;
 z-index: 1;
 font-size: 24px;
 margin-top: 2;
}
a{
 text-decoration: none;
}

.arlista-cim{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(156, 105, 105);
    margin-top: 90px;
    font-size: 53px;
    font-family: "DidotPro";
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    
}
.fo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 80px;
    box-sizing: border-box;
}
.container1,
.container2{
    background-color: #fdfafa;
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box; 
}
.kategoria{
    font-size: 35px;
    color: rgb(156, 105, 105);
    padding-bottom: 30px;
    padding-left: 35px;
    padding-top: 20px;
    font-family: "DidotPro";
    display: inline-block;
    position: relative;
    
}
.kategoria::before,
.kategoria::after{
  content: "";
  position: absolute;
  top: 44%;
  width: 20px; 
  height: 0.5px;   
  background: rgb(156,105,105);
}
.kategoria::before{
  left: 6px;   /* bal oldali t치vols치g */
}
.kategoria::after{
  right: -25px;  /* jobb oldali t치vols치g */
}
.arak-alkalom-szerint{
    display: flex;
    justify-content: space-between;
}
.elso-alkalom,
.hat-honapon-bellul,
.hat-honap-utan,
.egy-ev-utan{
    font-size: 19px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.ar{
    font-size: 21px;
    padding-right: 20px;
}


@media screen and (min-width: 300px) and (max-width:400px) {     
    .fo-container{
        flex-direction: column;
        margin-top: 50px;
    }
    .container1,
    .container2{
        width: 95%;
        margin: 0 auto;
        padding-left:  10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    .arlista-cim{
        font-size: 33px;
        margin-top: 50px;
    }
    .kategoria{
        font-size: 24px;
    }
    .elso-alkalom,
    .hat-honapon-bellul,
    .hat-honap-utan,
    .egy-ev-utan{
        font-size: 16px;
    }
    .ar{
        font-size: 18px;
    }
}

@media screen and (min-width: 401px) and (max-width:500px) {

     .fo-container{
        flex-direction: column;
        margin-top: 50px;
    }
    .container1,
    .container2{
        width: 95%;
        margin: 0 auto;
        padding-left:  10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    .arlista-cim{
        font-size: 39px;
        margin-top: 50px;
    }
    .kategoria{
        font-size: 28px;
    }
    .elso-alkalom,
    .hat-honapon-bellul,
    .hat-honap-utan,
    .egy-ev-utan{
        font-size: 18px;
    }
    .ar{
        font-size: 20px;
    }
}