.body{
    margin: 0;
}
.navbar{
 width: 100%;
 font-size: 20px;
 height: 43px;
 background-color: rgb(235, 235, 235);
 padding-top: 4px;
 color: rgb(126, 114, 114);
 box-shadow: 0px 3px 12px rgb(21, 21, 21);
 border-bottom: 1px solid rgb(242, 242, 242);
 justify-content: center;
 z-index: 0;
}
.bi-list-task{
 color: rgb(126, 114, 114);  
 position: absolute;
 z-index: 1;
 font-size: 24px;
 margin-top: 2px;
 margin-left: 5px;
}
.main-wallpaper{
  position: relative;
  overflow: hidden;
  width:100%;
  height: 377px;
  margin-top: 0;      
                
}
.main-wallpaper img{
  position: absolute;
  object-fit: cover;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.main-wallpaper-szoveg{
  z-index: 1;
  position: absolute;
  color: #bfbfbf;
  margin-top: 150px;
  margin-left: 280px;
  width: 510px;
  font-size: 24px;
  text-align: center;
  font-family: "Cormorant", ;
  font-weight: 100;
  font-style: normal;
}
.main-wallpaper-szoveg2{
  z-index: 1;
  position: relative;
  color: #bfbfbf;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 170px;
  gap: 90px;
  
}
.bi-star-fill,
.bi-people-fill,
.bi-award-fill{
 color: rgb(175, 175, 175);
 margin-left: 5px;
 font-size: 12px;
}
.elsohatter{
 position: relative;
 z-index: 0;
 background-color: rgb(190, 178, 163);
 height: 6000px;
 
}
.bevezeto-szoveg{
 text-align: center;
 justify-content: center;
 position: relative;
 z-index: 1;
 padding-top: 50px;
 font-family: "Cormorant",;
 font-weight: 400;
 font-size: 22px;
}
.bevezeto-szoveg-leiras{
 z-index: 1;
 font-family: "Cormorant",;
 font-weight: 200;
 width: 550px;
 margin:30px auto;
 text-align: center;
 font-size: 18px;
}
.foglalj-idopontot1{
  text-align: center;
  width: 160px;                          
  height: 35px;
  border-radius: 6px;
  color: #fff;
  background-color: rgb(59, 56, 54);
  border: 1px solid rgb(95,85,71);
  text-decoration: none;
  box-shadow: 0px 7px 12px rgb(93, 93, 93);
  z-index: 1;
  cursor: pointer;
  white-space: nowrap;
  margin: 40px auto;
  padding-top: 4px;
  
}
.szolgaltatas-lista-cim{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 3px;
  font-family: "Cormorant";
  font-weight: 400;
  font-size: 30px;
  
} 
.hr1{
  width: 240px;
  border: none;
  height: 2px;
  margin: 0 auto;
  margin-top: 3px;
  background-color: black;
  margin-bottom: -30px;
}
.tetovalas-technika-container {
  display: flex;
  flex-direction: row;     /* egymás mellett */
  justify-content: center; /* középre rendezve */
  gap: 10px;        
  padding: 10px;
  

}

/* --- Egy kártya --- */
.tetovalas-kartya {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  flex-direction: column;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

/* --- Cím --- */
.szemoldok-tetovalas-technika-cim,
.ajak-tetovalas-technika-cim,
.szemhej-tetovalas-technika-cim {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px;
  padding-bottom: -20px;
  white-space: nowrap;
  color: #222;
  text-transform: uppercase;
}

/* --- Kép --- */
.szolgaltatas-szemoldok-kep img,
.szolgaltatas-ajak-kep img,
.szolgaltatas-szemhej-kep img {
  width: 430px;
  height: 340px;
  object-fit: cover;
  display: block;
}

/* --- Leírás --- */
.szemoldok-tetovalas-technika-leiras,
.ajak-tetovalas-technika-leiras,
.szemhej-tetovalas-technika-leiras {
  padding: 16px;
  text-align: left;
}

.szemoldok-technika,
.ajak-technika,
.szemhej-technika {
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

/* --- Reszponzív: mobilnézet (400px alatt) --- */
@media screen and (max-width: 480px) {
  .main-wallpaper img{
    object-position: left center !important;
    object-fit: cover;
    width: 100%;
    height: 30vh;
    filter: brightness(80%);
    
  }
  .main-wallpaper {
  margin-bottom: -100px;
   
    
  }
  .main-wallpaper-szoveg2{
    gap: 10px;
    font-size: clamp(12px,3.2vw,21px);
    padding-left: 40px;
    padding-right: 15px;
    margin-top: 220px;
  }
    .bevezeto-szoveg {
    font-size: 1.2rem;
    line-height: 1.3;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 330px;
    margin: 0 auto;

  }
  .bevezeto-szoveg-leiras {
    margin: 20px auto !important;
    width:320px ;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.85rem;

  }
  .foglalj-idopontot1 {
    font-size: 0.95rem;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: -300px;
  }
  .szolgaltatas-lista-cim{
    margin: 0 auto;
  
  }
  .tetovalas-technika-container {
  display: flex;
  flex-direction: column;     /* egymás mellett */
  justify-content: center; /* középre rendezve */
  gap: 0px;               /* hézag a kártyák között */
  padding-left: 15px;
  padding-right: 15px;
  
}
.szolgaltatas-szemoldok-kep img,
.szolgaltatas-ajak-kep img,
.szolgaltatas-szemhej-kep img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.szemhej-tetovalas-technika-cim,
.szemoldok-tetovalas-technika-cim,
.ajak-tetovalas-technika-cim{
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: -30px;
  font-size: clamp(17px,4.5vw,23px);
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.szemoldok-tetovalas-technika-leiras,
.ajak-tetovalas-technika-leiras,
.szemhej-tetovalas-technika-leiras{
  margin-bottom: -40px;
}
}