@font-face {
  font-family: "DidotPro";
  src:
    url("webfont-type/font.woff2") format("woff2"),
    url("webfont-type/font.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
body{
  margin: 0;
}
.navbar{
 width: 100%;
 font-size: 20px;
 height: 43px;
 background-color: rgb(235, 235, 235);
 padding-top: 4px;
 color: rgb(173, 141, 141);
 box-shadow: 0px 3px 12px rgb(21, 21, 21);
 border-bottom: 1px solid rgb(242, 242, 242);
 justify-content: center;
 z-index: 0;
}
.bi-list-task{
 color: rgb(126, 114, 114);  
 position: absolute;
 z-index: 1;
 font-size: 24px;
 margin-top: 2px;
 margin-left: 5px;
}
.main-wallpaper img {
  width: 100%;
  height: 600px;
  display: block;
  filter: brightness(0.65) ;
}
.main-wallpaper{
  position: relative;
  width: 100%;
  z-index: 0;
}
.main-wallpaper-szoveg{
  position: absolute;
  display: flex;
  z-index: 1;
  top: 30%;
  left: 22%;
  font-size: 42px;
  width: 840px;
  text-align: center;
  color: rgb(237, 237, 237);
  font-family:"DidotPro",serif;
  font-optical-sizing: auto;
  font-weight: 100;
}
.main-wallpaper-szoveg-alcimkek {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  left: 50%;
  z-index: 2;
  top: 78%;
  font-size: 27px;
  color: rgb(235, 235, 235);
  font-family:"DidotPro",serif;
  font-optical-sizing: auto;
  font-weight: 100;
}
.bi-circle-fill{
  font-size: 10px;
  margin-left: 35px;
  margin-right: 6px;
}
.bevezeto-szoveg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  font-family:"DidotPro",serif;
}
.bevezeto-szoveg-cim{
  font-size: 27px;
}
.bevezeto-szoveg-leiras{
  width: 530px;
  font-size: 17px;
  text-align: center;
}
.backgroundcolor2{
  width: 100%;
  height: 2400px;
  margin-top: -90px;
  background-color: rgb(248, 246, 242);
}
.rolam-kep img{
  max-width: 300px;
  width: 100%;
  height: auto;
  box-shadow: 0 5px 15px rgb(174, 174, 174);
}
.rolam-kep{
  margin-top: 20px;
  margin-left: 240px;
  width: 100%;
}
.rolam-cim{
  font-size:31px;
  margin-left: 450px;
  position: absolute;
  display: flex;
  margin-top: -300px;
  font-family:"DidotPro",serif;
  color: rgb(109, 91, 66);
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2.3px;
}
.rolam-doboz{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}
.rolam-bemutatkozo-szoveg-tartalom{
  align-items: flex-start;
  max-width: 600px;
  margin-right: 200px;
  margin-top: 40px;
  font-size: 19px;
  font-family:"DidotPro",serif;
}

.rolam-szovegcolor{
  font-weight: 600;
  color: rgb(109, 91, 66); 
  letter-spacing: 0.02em;
}
.wallpaper img{
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.wallpaper{
  display: none;
  position: relative;
  margin-top: 150px;
}
.hogyan-zajlik-egyalkalom-cim{
  white-space: nowrap;
  margin-top: 40px;
  font-size: 26px;
  font-family:"DidotPro",serif;
}
.hogyan-zajlik-egyalkalom-doboz{
  background-color: rgb(203, 193, 184);
  width: 100%;
  height: 450px;
  display: flex;
  position: relative;
  margin-top: 80px;
}
.hogyan-zajlik-egyalkalom-leiras{
  font-size: 18px;
  line-height: 2.0;
  color: #625042;
  font-family:"DidotPro",serif;
  display: flex;
  box-sizing: border-box;
  width: 530px;
  margin-top: -20px;
}
.hogyan-zajlik-egyalkalom-tartalom{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 8%;
}
.hogyan-zajlik-egyalkalom-kep img {
  width: 650px;
  height: 450px;
}
.szolgaltatasok-cim{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:"DidotPro",serif;
  font-size: 41px;
  margin-top: 10px;
  padding-top: 70px;
  margin-bottom: 70px;
  color: rgb(109, 91, 66);
}
.szolgaltatas-cim{
  font-family:"DidotPro",serif;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 27px;
  margin-bottom: 30px;
  color: rgb(109, 91, 66);
}
.szolgaltatas-leiras{
  font-family:"DidotPro",serif;
  text-align: center;
  font-style: normal; 
  margin-top: 15px;
  font-size: 21px;
  margin-top: 40px;
  max-width: 300px;
  color: rgb(109, 91, 66);
}
.szolgaltatasok{
  display: flex;
  gap: 30px;
  justify-content: center;
  box-sizing: border-box;
}
.szolgaltatas-kartya{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  max-width: 310px;
  width: 100%;
  border-radius: 16px;
  background-color: rgb(249, 246, 239);
  box-shadow: 0px 10px 30px rgba(94, 94, 94, 0.9);
  height: 380px;
  margin-bottom: 70px;
  box-sizing: border-box;
  flex: 0 0 320px;
}
.szolgaltatas-kep{
  width: 100%;
  margin-top: auto;
}
.szolgaltatas-kep img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}
.technikak-cim{
  font-family:"DidotPro",serif;
  display: flex;
  justify-content: center;
  margin-top: 120px;
  padding-top: 50px;
  font-size: 41px;
  margin-bottom: 40px;
  color: rgb(109, 91, 66);
  text-decoration: underline;
  text-decoration-thickness: 1.8px;
  text-underline-offset: 2.7px;
  text-decoration-color: #B8A47E;
}
.technikak-alcim{
  font-family:"DidotPro",serif;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 25px;
  margin-bottom: 100px;
  color: #636363;
}
.technika-ajak-kartya,
.technika-szeplo-kartya{
  display: flex;
  gap: 30px;
  align-items: flex-start;
  margin-left: 50px;
  margin-bottom: 30px;
}
.technika-szemhej-kartya,
.technika-szemoldok-kartya{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 50px;
  gap: 30px;
  margin-bottom: 30px;
}

.szemoldoktetovalas-technika-kep img,
.szemhejtetovalas-technika-kep img,
.ajaktetovalas-technika-kep img,
.szeplotetovalas-technika-kep img{
  max-width: 560px;
  width: 100%;
  height: 330px;
  object-fit: cover;
  display: block;
  box-shadow: 0 10px 16px rgb(159, 159, 159)
}
.szemoldoktetovalas-technika-cim,
.ajaktetovalas-technika-cim,
.szemhejtetovalas-technika-cim,
.szeplotetovalas-technika-cim {
  font-size: 28px;
  margin-bottom: 30px;
  display: flex;
  color: #6d5b42;
  text-decoration: underline;
  text-decoration-color: #b8a47e;
  text-underline-offset: 6px;
  font-family:"DidotPro",serif;
}
.bi-check2-circle{
  margin-left: -35px;
  padding-right: 10px;
}
.technika-fajta-cimek {
  display: flex;
  font-weight: 600;
  font-size: 23px;
  color: #b8a47e;
  line-height: 1.2;
  margin-bottom: 6px;
  
}
.ajaktetovalas-technika-leiras,
.szemhejtetovalas-technika-leiras,
.szeplotetovalas-technika-leiras,
.szemoldoktetovalas-technika-leiras{
  font-size: 17px;
  max-width: 800px;
  width: 100%;
  margin-bottom: 40px;
  margin-left: 35px;
  list-style: none;
  line-height: 1.2;
  font-family:"DidotPro",serif;

}
.miert-valassz-engem-container{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  max-width: 1600px;
  max-height: 680px;
  background-color: rgb(143, 129, 116);
}
.miert-valassz-engem-cim{
 font-size: 33px;
 white-space: nowrap;
 margin-left: 10px;
 margin-top: -90px;
 position: absolute;
 color: #ece4cb;
 font-family:"DidotPro",serif;
 text-decoration: underline;
 text-underline-offset: 6px;
 text-decoration-thickness: 1px;
}
.miert-valassz-engem-felsorolas{
  font-size: 22.3px;
  line-height: 2.0;
  color: #ece4cb;
  margin-top: 150px;
  margin-left: 12%;
  margin-right: 5%;
  max-width: 570px;
  font-family:"DidotPro",serif;
}
.miert-valassz-engem-kep img{
  max-width: 600px;
  height: 520px;
  object-fit: cover;
}

@media screen and (max-width:500px) {
  
  .main-wallpaper img{
    width: 100%;
    height: clamp(35vh, 40vh, 44vh);
    object-fit: cover;
    object-position: 70%;
  }
  .main-wallpaper-szoveg{
    font-size: clamp(21px, 4.7vw, 26px);
    color: rgb(255, 255, 255);
    width: 90%;
    left: 5%;
    right: 5%;
    top:26%;
  }
  .main-wallpaper-szoveg-alcimkek{
    justify-content: center;
    align-items: center;
    font-size: clamp(15px, 4.0vw, 22px);
  }
  .bi-circle-fill{
    margin-left: 20px;
    margin-right:5px;
  }
  .bevezeto-szoveg{
    margin-left: 20px;
    margin-right: 20px;
  }
  .bevezeto-szoveg-cim{
    width: 90%;
    margin-top: -20px;
    font-size: clamp(20px,2.7vw,23px);
    justify-content: center;
    white-space: nowrap;
  }
  .bevezeto-szoveg-leiras{
    font-size: clamp(13px,2.2vw,23px);
    width: 95%;
    overflow: hidden;

  }
  .backgroundcolor2{
    height: 3300px;
  }
  .rolam-doboz{
    flex-direction: column;
    margin-top: 0;
    margin-left: 25px;
    align-items: flex-start;
  }
  .rolam-kep img{
    width: 80%;
    border-radius: 5px;
    height: auto;
    display: block;
  }
  .rolam-kep{
    margin-left: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .rolam-cim{
    white-space: nowrap;
    margin: 0;
    top: 30px;
    justify-content: center;
    display: flex;
    position: relative;
    font-size: clamp(22px, 3.3vw, 22.5px);
  }
  .rolam-bemutatkozo-szoveg-tartalom {
     font-size: clamp(15px, 2.4vw, 20.5px);
     margin-top: 40px;
     width:80%;
     text-align: left;
     margin-right: 0;
  }
  .hogyan-zajlik-egyalkalom-cim{
    font-size: clamp(19px, 4.5vw, 23px) !important;
  }
  .hogyan-zajlik-egyalkalom-leiras{
     font-size: clamp(15px, 3.8vw, 17px) !important;
     max-width: 520px;
     width: 75%;
     color: #ffffff;
  }
  .hogyan-zajlik-egyalkalom-doboz{
    width: 100%;
    display: flex;
    z-index: 0;
    position: relative;
    min-height: 520px;
    overflow: hidden;
    display: block;
    margin-top: 20px;
    
  }
.hogyan-zajlik-egyalkalom-kep {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  margin: 0;
}
.hogyan-zajlik-egyalkalom-kep img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.45);
}
.hogyan-zajlik-egyalkalom-tartalom{
  width: 100%;
  text-align: center;
  margin-left: 0;
  align-items: center;
  display: flex;
  z-index: 1;
  position: absolute;
  color:#ffffff;
  background: transparent;
}


    





  .wallpaper img{
    height: 15vh;
    width: 100%;
  }
  .wallpaper{
    margin-top: 20px;
  }
  .szolgaltatasok-cim{
    font-size: clamp(30px, 4.4vw, 37.5px);
    margin-bottom: 50px;
  }
  .szolgaltatas-szoveg{
    width: 53%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }
  .szolgaltatas-cim{
    font-size: clamp(18px, 3.7vw, 26px);
    margin-top: 30px;
    padding-left: 40px;
    margin-bottom: 20px;
  }
  .szolgaltatas-leiras{
    font-size: clamp(15.5px, 3.4vw, 18.5px);
    margin-top: 0px;
    margin-left: 30px;
    width: 90%;
  }
  .szolgaltatasok{
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-left: 22px;
    padding-right: 22px;
    margin-top: 0px;
    gap: 15px;
  }
  .szolgaltatas-kartya{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 420px;
    width: 100%;
    height: 140px;
    gap: 35px;
    flex: none;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
  .szolgaltatas-kep img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }
  .szolgaltatas-kep{
    width: 45%;
    height: 100%;
    flex-shrink: 0;
  }
  .technikak-cim{
    font-size:clamp(27px,4.1vw,26px);
    margin-bottom: 20px;
  }
  .technikak-alcim{
     font-size: clamp(18px, 3.7vw, 26px);
     padding-left: 15px;
     padding-right: 15px;
     text-align: center;
     margin-bottom: 40px;
  }
  .technika-doboz{
    display: flex;
    flex-direction: column;
  }
  .technika-ajak-kartya,
  .technika-szemoldok-kartya,
  .technika-szemhej-kartya,
  .technika-szeplo-kartya{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    margin: 0;
  }
  .technika-szeplo-kartya{
    margin-bottom: 25px;
  }
  .szemoldoktetovalas-technika-kep,
  .szeplotetovalas-technika-kep ,
  .szemhejtetovalas-technika-kep ,
  .ajaktetovalas-technika-kep {
    width: 85%;
    max-width: 560px;
    height: auto;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  .szemoldoktetovalas-technika-kep img,
  .szeplotetovalas-technika-kep img,
  .szemhejtetovalas-technika-kep img,
  .ajaktetovalas-technika-kep img {
    width: 85% !important;
    max-width: 560px !important;
    height: auto;
    display: block;
    object-fit: cover;
    justify-content: center;
    align-items: center;
  }
  .szemoldoktetovalas-technika-cim,
  .szemhejtetovalas-technika-cim,
  .ajaktetovalas-technika-cim,
  .szeplotetovalas-technika-cim{
    display: flex;
    
    font-size:clamp(25px,6.3vw,37px);
    text-align: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 10px;
  
  }
  .szemoldoktetovalas-technika-leiras ,
  .szemhejtetovalas-technika-leiras ,
  .ajaktetovalas-technika-leiras ,
  .szeplotetovalas-technika-leiras {
    width: 85%;
    max-width: 520px;
    font-size: clamp(15px,3.2vw,22px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 30px;
  }
  .technika-fajta-cimek{
    font-size: clamp(16px,3.3vw,25px);
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
  }






  .miert-valassz-engem-container{
   width: 100%;
   height: clamp(470px,450px,600px);
   margin-top: 10px;
  }
  .miert-valassz-engem-kep img{
   width: 100%;
   height:100%;
   min-height: 220px;
   object-fit: cover;
  }
  .miert-valassz-engem-kep{
    width: 45%;
  }
  .miert-valassz-engem-cim{
    margin-top: -60px;
    margin-right: 15px;
    font-size: clamp(17px, 4.4vw, 28.5px);
  }
  .miert-valassz-engem-felsorolas{
    font-size: clamp(13.0px, 3.1vw, 23.5px);
    margin-top: 65px;
    width: 50%;
    margin-left: 7%;
  }
  
}