body{
  margin: 0;
}
.navbar{
 width: 100%;
 font-size: 20px;
 height: 43px;
 background-color: rgb(235, 235, 235);
 padding-top: 4px;
 color: rgb(173, 141, 141);
 box-shadow: 0px 3px 12px rgb(21, 21, 21);
 border-bottom: 1px solid rgb(242, 242, 242);
 justify-content: center;
 z-index: 0;
}
.bi-list-task{
 color: rgb(126, 114, 114);  
 position: absolute;
 z-index: 1;
 font-size: 24px;
 margin-top: 2px;
 margin-left: 5px;
}
.main-wallpaper img {
  width: 100%;
  height: 600px;
  display: block;
  filter: brightness(0.5);
}
.main-wallpaper{
  position: relative;
  width: 100%;
  z-index: 0;
}
.main-wallpaper-szoveg{
  position: absolute;
  display: flex;
  z-index: 1;
  top: 30%;
  left: 22%;
  font-size: 45px;
  width: 840px;
  text-align: center;
  color: rgb(218, 218, 218);
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
}
.main-wallpaper-szoveg-alcimkek {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  left: 50%;
  z-index: 2;
  top: 78%;
  font-size: 29px;
  color: rgb(218, 218, 218);
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
}
.bi-circle-fill{
  font-size: 10px;
  margin-left: 35px;
  margin-right: 6px;
}
.bevezeto-szoveg{
  font-size: 19px;
  margin-top: 40px;
  width: 730px;
  display: flex;
  position: absolute;
  text-align: center;
  left: 25%;
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.backgroundcolor1{
  width: 100%;
  height: 150px;
  background-color: rgb(223, 216, 201);
}
.rolam-kep img{
  max-width: 400px;
  width: 100%;
  height: auto;
}
.rolam-kep{
  margin-top: 90px;
  margin-left: 240px;
  width: 100%;
}
.rolam-cim{
  font-size:33px;
  margin-left: 800px;
  position: absolute;
  display: flex;
  margin-top: 90px;
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color: rgb(109, 91, 66);
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2.3px;
}
.rolam-doboz{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.rolam-bemutatkozo-szoveg-tartalom{
  max-width: 650px;
  width: 100%;
  margin-top: 150px;
  margin-right: 230px;
  font-size: 22px;
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.rolam-szovegcolor{
  font-weight: 600;
  color: rgb(109, 91, 66); 
  letter-spacing: 0.02em;
}
.wallpaper img{
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.wallpaper{
  display: none;
  position: relative;
  margin-top: 150px;
}
.hogyan-zajlik-egyalkalom-cim{
  white-space: nowrap;
  margin-top: 40px;
  font-size: 26px;
}
.hogyan-zajlik-egyalkalom-doboz{
  background-color: rgb(203, 193, 184);
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 90px;
}
.hogyan-zajlik-egyalkalom-leiras{
  font-size: 21px;
  line-height: 2.0;
  color: #625042;
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  display: flex;
  box-sizing: border-box;
  width: 530px;
}
.hogyan-zajlik-egyalkalom-tartalom{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 8%;
}
.hogyan-zajlik-egyalkalom-kep img {
  width: 700px;
  height: 500px;
}
.szolgaltatasok-cim{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal; 
  font-size: 44px;
  margin-top: 80px;
  margin-bottom: 80px;
  color: rgb(109, 91, 66);
}
.szolgaltatas-cim{
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-style: normal; 
  margin-top: 15px;
  font-size: 29px;
  margin-bottom: 10px;
  color: rgb(109, 91, 66);
}
.szolgaltatas-leiras{
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  text-align: center;
  font-style: normal; 
  margin-top: 15px;
  font-size: 23px;
  margin-top: 70px;
  max-width: 300px;
  color: rgb(109, 91, 66);
}
.szolgaltatasok{
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 0px;
  box-sizing: border-box;
}
.szolgaltatas-kartya{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  max-width: 310px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0px 10px 30px rgba(94, 94, 94, 0.9);
  height: 420px;
  box-sizing: border-box;
  flex: 0 0 320px;
}
.szolgaltatas-kep{
  width: 100%;
  margin-top: auto;
}
.szolgaltatas-kep img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}
.technikak-cim{
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-style: normal; 
  margin-top: 100px;
  font-size: 44px;
  margin-bottom: 20px;
  color: rgb(109, 91, 66);
  text-decoration: underline;
  text-decoration-thickness: 1.8px;
  text-underline-offset: 2.7px;
  text-decoration-color: #B8A47E;
}
.technikak-alcim{
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin-top: 10px;
  font-size: 28px;
  margin-bottom: 80px;
  color: #B8A47E;
}
.szolgaltatas-technika1sor,
.szolgaltatas-technika2sor{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.szemoldoktetovalas-technika-kep img,
.szemhejtetovalas-technika-kep img,
.ajaktetovalas-technika-kep img,
.szeplotetovalas-technika-kep img{
  max-width: 630px;
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 10px 16px rgba(0,0,0,0.12);
  margin-bottom: 20px;
}
.technika-szemoldok-kartya,
.technika-ajak-kartya{
  margin-left: 100px;
}
.szemoldoktetovalas-technika-cim,
.ajaktetovalas-technika-cim,
.szemhejtetovalas-technika-cim,
.szeplotetovalas-technika-cim {
  font-size: 30px;
  margin-bottom: 20px;
  display: flex;
  margin-left: 30px;
  color: #6d5b42;
  text-decoration: underline;
  text-decoration-color: #b8a47e;
  text-underline-offset: 6px;
  font-family: "Josefin Slab", serif;
}
.technika-fajta-cimek {
  display: block;
  font-weight: 600;
  font-size: 18px;
  color: #b8a47e;
  margin-bottom: 6px;
}
.ajaktetovalas-technika-leiras,
.szemhejtetovalas-technika-leiras,
.szeplotetovalas-technika-leiras,
.szemoldoktetovalas-technika-leiras{
  font-size: 18px;
  line-height: 1.2;
  max-width: 650px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}










.miert-valassz-engem-container{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  max-width: 1600px;
  max-height: 680px;
  margin-top: 100px;
  background-color: rgb(143, 129, 116);
}
.miert-valassz-engem-cim{
 font-size: 33px;
 white-space: nowrap;
 margin-left: 190px;
 margin-top: 1400px;
 position: absolute;
 color: #ece4cb;
 font-family: "Josefin Slab", serif;
 font-optical-sizing: auto;
 font-weight: 100;
 font-style: normal; 
 text-decoration: underline;
 text-underline-offset: 6px;
 text-decoration-thickness: 1px;
}
.miert-valassz-engem-felsorolas{
  font-size: 25px;
  line-height: 2.0;
  color: #ece4cb;
  margin-top: 150px;
  margin-left: 12%;
  margin-right: 5%;
  max-width: 570px;
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.miert-valassz-engem-kep img{
  max-width: 600px;
  height: 520px;
  object-fit: cover;
}

@media screen and (max-width:500px) {
  
  .main-wallpaper img{
    width: 100%;
    height: clamp(22vh, 39vh, 44vh);
    object-fit: cover;
    object-position: 70%;
  }
  .main-wallpaper-szoveg{
    font-size: clamp(18px, 4.4vw, 23px);
    color: rgb(255, 255, 255);
    width: 90%;
    left: 5%;
    right: 5%;
    top:22%;
  }
  .main-wallpaper-szoveg-alcimkek{
    justify-content: center;
    align-items: center;
    font-size: clamp(15px, 4.0vw, 22px);
  }
  .bi-circle-fill{
    margin-left: 18px;
    margin-right:5px;
  }
  .bevezeto-szoveg{
    font-size: clamp(10.9px, 3.1vw, 14.5px);
    width: 90%;
    top: 45%;
    left: 5%;
  }
  .backgroundcolor1{
    max-height: 15vh;
    width: 100%;
  }
  .rolam-doboz{
    flex-direction: column;
    margin-top: 70px;
  }
  .rolam-kep img{
    width: 60%;
    height: auto;
    display: block;
  }
  .rolam-kep{
    margin-left: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .rolam-cim{
    white-space: nowrap;
    margin-left: 0px;
    transform: translateX(-50%);
    left: 50%;
    top: 55%;
    font-size: clamp(22px, 3.3vw, 22.5px);
  }
  .rolam-bemutatkozo-szoveg-tartalom{
  font-size: clamp(15px, 2.6vw, 20.5px);
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 20px;
  text-align: center;
  }
  .hogyan-zajlik-egyalkalom-cim{
    font-size: clamp(19px, 4.5vw, 23px) !important;
  }
  .hogyan-zajlik-egyalkalom-leiras{
     font-size: clamp(15px, 3.8vw, 17px) !important;
     max-width: 520px;
     width: 75%;
     color: #ffffff;
  }
  .hogyan-zajlik-egyalkalom-doboz{
    width: 100%;
    display: flex;
    z-index: 0;
    position: relative;
    min-height: 520px;
    overflow: hidden;
    display: block;
    
  }
.hogyan-zajlik-egyalkalom-kep {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  margin: 0;
}
.hogyan-zajlik-egyalkalom-kep img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.45);
}
.hogyan-zajlik-egyalkalom-tartalom{
  width: 100%;
  text-align: center;
  margin-left: 0;
  align-items: center;
  display: flex;
  z-index: 1;
  position: absolute;
  color:#ffffff;
  background: transparent;
}


    





  .wallpaper img{
    height: 15vh;
    width: 100%;
  }
  .wallpaper{
    margin-top: 20px;
  }
  .szolgaltatasok-cim{
    margin-top: 50px;
    font-size: clamp(30px, 4.4vw, 37.5px);
    margin-bottom: 50px;
  }
  .szolgaltatas-szoveg{
    width: 53%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }
  .szolgaltatas-cim{
    font-size: clamp(18px, 3.7vw, 26px);
    margin-top: 10px;
    margin-left: 5px;
  }
  .szolgaltatas-leiras{
    font-size: clamp(15.5px, 3.4vw, 18.5px);
    margin-top: 0px;
    margin-left: 5px;
  }
  .szolgaltatasok{
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-left: 22px;
    padding-right: 22px;
    margin-top: 0px;
    gap: 35px;
  }
  .szolgaltatas-kartya{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 420px;
    width: 100%;
    height: 140px;
    gap: 10px;
    flex: none;
    box-sizing: border-box;
  }
  .szolgaltatas-kep img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }
  .szolgaltatas-kep{
    width: 45%;
    height: 100%;
    flex-shrink: 0;
  }
  .technikak-cim{
     font-size:clamp(27px,4.1vw,26px);
  }
  .technikak-alcim{
     font-size: clamp(18px, 3.7vw, 26px);
     padding-left: 15px;
     padding-right: 15px;
     text-align: center;
     margin-bottom: 40px;
  }
  .szolgaltatas-technika1sor,
  .szolgaltatas-technika2sor{
    flex-direction: column;
    gap: 20px;
  }
  .technika-ajak-kartya,
  .technika-szemoldok-kartya,
  .technika-szemhej-kartya,
  .technika-szeplo-kartya{
    margin-left: 0;
    margin-right: 0;
  }
  .szemoldoktetovalas-technika-kep img,
  .szemhejtetovalas-technika-kep img,
  .ajaktetovalas-technika-kep img,
  .szeplotetovalas-technika-kep img{
    width: 100%;
    height: 35vh;
    border-radius: 0;
  }
  .szemoldoktetovalas-technika-cim,
  .szemhejtetovalas-technika-cim,
  .ajaktetovalas-technika-cim,
  .szeplotetovalas-technika-cim{
    margin-left: 40px;
    text-align: center;
    white-space: nowrap;
    font-size: clamp(23px,5.8vw,26px);
  }
  .szemoldoktetovalas-technika-leiras,
  .szemhejtetovalas-technika-leiras,
  .ajaktetovalas-technika-leiras,
  .szeplotetovalas-technika-leiras{
    width: 97%;
    font-size: clamp(12px,2.9vw,22px);
    list-style: none;
  }
  .technika-fajta-cimek{
    font-size: clamp(16px,3.3vw,25px)
  }






  .miert-valassz-engem-container{
   width: 100%;
   height: 100%;
   margin-top: 0%;
  }
  .miert-valassz-engem-kep img{
   width: 100%;
   height: 100%;
   min-height: 220px;
   object-fit: cover;
  }
  .miert-valassz-engem-kep{
    width: 45%;
  }
  .miert-valassz-engem-cim{
    margin-left: 5%;
    font-size: clamp(17px, 4.2vw, 28.5px);
    margin-top: 6%;
  }
  .miert-valassz-engem-felsorolas{
    font-size: clamp(13px, 3.5vw, 23.5px);
    margin-top: 85px;
    margin-bottom: 20px;
    width: 50%;
    margin-left: 7%;
  }
  
}